nav {
        font-size: 17px;
        font-family: georgia;
}

body {
        background-color: #EEEEEE;
        line-height: 1.4;
        margin-left: 400px;
        margin-right: 400px;
        font: georgia;
}
