.nav {
	font-size: 17px;
	font: Lucida Grande;
	display: inline;
}

body {
	background-color: #F5F5DC;
	line-height: 1.4;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 16px;
	font: Lucida Grande;
	display: block;
}

.home-page {
	background: url(images/sunset.jpg);
	width: 25%;
	height: 25%;
}

.home-title {
	font-size: 30pt;
	color: #DEB887;
}

.home-sub {
	float: right; /* not currently doing anything*/
	font-size: 17pt;
	margin-top: 17px;
}

.photo_bianca {
    width: 18%;  /*ill not shrink image.... */
    height: 18%;
	margin-left: 60%;
}

.photo_shir_appeal {
	float: right; 
	height: 50%;
	width: 50%;  /* how to make photo reactive to page*/
}

.photo_film {
	margin-right: 20%;
	margin-left: 20%;
}