.nav {
	font-size: 20px;
	font: Lucida Grande;
	display: inline;
}

body {
	background-color: #F5F5DC;
	line-height: 1.4;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 16px;
	font: Lucida Grande;
	display: block;
}

.home-page {
	background: url(images/sunset.jpg);
}

.home-title {
	font-size: 30pt;
	color: #DEB887;
	float: left;
}

.home-sub {
	font-size: 17pt;
	margin-top: 20px;
	margin-left: 50%;
}

.photo_bianca {
	margin-left: 80%;
	position: absolute;
}

.photo_shir_appeal {
	float: right; 
	height: 50%;
	width: 50%;  /* how to make photo reactive to page*/
}

.project_photo {
	margin-left: 50%;
}